<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="include/css-head :: css-head">
</head>
<style>
	textarea{
		width:100%;
		height:100px;
	}
	
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.chk_1{
    display: none;
}
.chk_1 + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
}
.chk_1 + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_1:checked + label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked + label:after {
	content: '\2714';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
}
div.cbp label.font{
	text-align: center;
	font-size: 1.4em;
	vertical-align: text-top;
	margin-top: -15px;
	margin-left: -10px;
}

</style>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    	西游记告诉我们：凡是有后台的妖怪都被接走了，
    <small>凡是没后台的都被一棒子打死了</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> 系统管理</a></li>
    <li class="active">商品管理</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	 <div class="box">
            <div class="box-header">
              <h3 class="box-title">商品列表</h3>
              <br><br>
              <button th:if="${QX.add == '1' && QX.query == '1'}" class="btn btn-success btn-sm" id="addGoods"><i class="fa fa-plus"></i> &nbsp;&nbsp;添加商品</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="goodsList" class="table table-bordered table-striped">
                <thead>
	                <tr>
	                  <th>序号</th>
	                  <th>商品编号</th>
	                  <th>商品名称</th>
	                  <th>所属品牌</th>
	                  <th>所属品类</th>
	                  <th>商品图像</th>
					  <th>状态</th>
					  <th>创建时间</th>
	                  <th>更新时间</th>
	                  <th>最后操作人</th>
	                  <th>操作</th>
	                </tr>
                </thead>
                <tbody>
                <tr th:if="${QX.query == '1'}" th:each="goods,stat :${goodsList}">
                  <td th:text="${stat.count}">1</td>
                  <td th:text="${goods.goods_no}">商品编号</td>
                  <td th:text="${goods.goods_name}">商品名称</td>
				  <td th:text="${goods.brand_name}">所属品牌</td>
				  <td th:text="${goods.category_name}">所属品类</td>
				  <td><img height="30px" th:onclick="'showimage(\''+${goods.pic_path}+'\');'" style="border-radius: 15px;" th:src="${goods.pic_path}" src="/images/logo.png"></img></td>
				  <!--<td><img height="30px" th:onclick="'showimage(\''+${goods.pic_path}+'\');'" style="border-radius: 15px;" th:src="${goods.pic_path}" src="/images/logo.png"></img></td>-->
				  <td th:if="${goods.status} eq '1'"><span class="label-success label label-default">上架</span></td>
				  <td th:if="${goods.status} eq '2'"><span class="label-danger label label-default">下架</span></td>
				  <td th:text="${goods.create_time}">创建时间</td>
                  <td th:text="${goods.update_time}">更新时间</td>
                  <td th:text="${goods.username}">最后操作人</td>
                  <td>
                  	<div>
						<span data-toggle="tooltip" title="编辑" th:if="${QX.edit == '1'}" class="btn btn-xs btn-info" th:onclick="'editGoods(\''+${goods.goods_id}+'\',\''+${goods.goods_no}+'\',\''+${goods.goods_name}+'\',\''+${goods.brand_no}+'\',\''+${goods.category_id}+'\',\''+${goods.title}+'\',\''+${goods.goods_desc}+'\',\''+${goods.pic_path}+'\',\''+${goods.status}+'\');'"><i class="fa fa-edit"></i> </span>
						<span data-toggle="tooltip" title="删除" th:if="${QX.del == '1'}" class="btn btn-xs btn-danger" th:onclick="'delGoods(\''+${goods.goods_id}+'\',\''+${goods.goods_no}+'\');'"><i class="fa fa-trash-o"></i> </span>
                  	</div>
                  </td>
                </tr>
                <tr th:unless="${QX.query == '1'}" >
                	<td colspan="7" align="center">
						<h2>此商品无权限查看该页面</h2>
                	</td>
                </tr>
                </tbody>
               </table>
	       </div>
	 </div>
</section>


<!-- 新增或修改的模态框 -->
<div class="modal fade" id="goodsModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title text-center" id="goodsmodelHead">添加商品</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal"  role="form">
				  <input type="hidden" name="url" value=""/>
				  <input type="hidden" name="goods_id" value=""/>
					<input type="hidden" name="pics" value=""/>
					<input type="hidden" name="oldpath" value=""/>

					<div class="form-group">
						<label for="goods_no" class="col-sm-2 control-label">商品编号</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="goods_no" value="" id="goods_no" placeholder="请输入商品编号">
						</div>
					</div>

				  <div class="form-group">
				    <label for="goods_name" class="col-sm-2 control-label">商品名称</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="goods_name" value="" id="goods_name" placeholder="请输入商品名称">
				    </div>
				  </div>

					<div class="form-group" data-toggle="tooltip" title="如果不修改则不需要选择文件">
						<label for="imgfile" class="col-sm-2 control-label">商品图片</label>
						<div class="col-sm-10">
							<a href="javascript:void(0)"><input type="file" class="form-control file" name="imgfile" value="" id="imgfile" placeholder="请选择文件"></a>
						</div>
				  	</div>
					<div class="form-group">
						<label for="imgfile" class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<div><img onmouseover="this.style.cursor='pointer';this.style.cursor='hand'" onmouseout="this.style.cursor='default'" src="test.jpg"
									  onclick="showimage('')" src="" data-toggle="tooltip" title="当前图像或更新后的图像" id="showImg" style="width: 50px;"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="col-sm-2 control-label">标题</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="title" value="" id="title" placeholder="请输入标题">
						</div>
					</div>

					<div class="form-group">
						<label for="brand_name" class="col-sm-2 control-label">所属品牌</label>
						<div class="col-sm-10">
							<!--<input type="text" class="form-control" name="brand_name" value="" id="brand_name" placeholder="请输入商品编号">-->
							<select id="brand_name" class="form-control selectpicker show-tick" data-live-search="true"  data-actions-box="true">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="category_name" class="col-sm-2 control-label">所属品类</label>
						<div class="col-sm-10">
							<select id="category_name" class="form-control selectpicker show-tick" data-live-search="true"  data-actions-box="true">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="goods_desc" class="col-sm-2 control-label">商品描述</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="goods_desc" value="" id="goods_desc" placeholder="请输入商品描述">
						</div>
					</div>

					<div class="form-group">
						<label for="status" class="col-sm-2 control-label">状态</label>
						<div class="col-sm-10 switch" data-on-label="SI" data-off-label="NO">
							<input name="status" type="checkbox" data-size="small">
						</div>
					</div>
				 </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
				<button type="submit" class="btn btn-success"  id="goodsSubmit" >确定</button>
			</div>
		</div>
	</div>
</div>
<!--放大图的imgModal-->
<div class="modal fade bs-example-modal-lg text-center" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
	<div class="modal-dialog modal-lg" style="display: inline-block; width: auto;">
		<div class="modal-content">
			<img  id="imgInModalID"
				  class="carousel-inner img-responsive img-rounded"
				  onclick="closeImageViewer()"
				  onmouseover="this.style.cursor='pointer';this.style.cursor='hand'"
				  onmouseout="this.style.cursor='default'"
			/>
		</div>
	</div>
</div>

<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<!--<script th:src="@{/bower_components/fileupload/js/fileinput.js}"></script>-->
<!--<script th:src="@{/bower_components/fileupload/js/fileinput_locale_de.js}"></script>-->
<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/bower_components/bootstrap-switch-master/dist/js/bootstrap-switch.js}"></script>
<script th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.core.js}"></script>
<script th:src="@{/ztree/js/jquery.ztree.excheck.min.js}"></script>

<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{/js/path.js}"></script>
<script>
$(function(){

	 //提示框
    $("[data-toggle='tooltip']").tooltip();
	//表格分页
    $('#goodsList').DataTable({
    	"scrollX"	  : true,
  		'paging'      : true,
  	    'lengthChange': true,
  	    'searching'   : true,
  	    'ordering'    : true,
  	    'info'        : true,
  	    'autoWidth'   : false,
  	  	"pagingType"  : "full_numbers",
  	  	"pageLength"  : 10
    });



	$("#addGoods").click(function(){
	    addClick();
		reloadModelData("",_ctx+"/goods/add","添加商品","添加","","","","","","","","","","add");
        getDataList();
		$("#goodsModal").modal("show");
	});

	//确认按钮
	$("#goodsSubmit").click(function(){
        var url = $("input[name='url']").val();
        var goodsId = $("input[name='goods_id']").val();
        var oldpath = $("input[name='oldpath']").val();
        var goodsName = $("input[name='goods_name']").val();
		var goodsNo = $("input[name='goods_no']").val();
        var base64Img= $("input[name='pics']").val();
        var title = $("input[name='title']").val();
		var goodsDesc = $("input[name='goods_desc']").val();
		var brandNo = $("#brand_name").val();
		var categoryId = $("#category_name").val();
        var status = $("input[name='status']").val();
        if(url == _ctx+'/goods/add'){
			if(!checkAccount(goodsName,goodsNo,title,goodsDesc,brandNo,categoryId)){
				return false;
			}
		}
		$.ajax({
			type:"post",
			url:url,
			cache:false,
			dataType:"json",
			data:{goodsId:goodsId,oldpath:oldpath,goodsName:goodsName,goodsNo:goodsNo,title:title,goodsDesc:goodsDesc,brandNo:brandNo,categoryId:categoryId,time:new Date().getTime(),picPath:base64Img,status:status},
			success:function(data){
				if(data.status == 'success'){
					$("#goodsModal").modal("hide");
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	});

	//确认按钮
	$("#roleSubmit").click(function(){
		var ids="";
		$("input[name='roleids']:checked").each(function(){
			ids = ids + $(this).val() +",";
		});
		var goodsId = $("input[name='role_goods_id']").val();
		$.ajax({
			type:"POST",
			url:_ctx+"/goods/editRole",
			cache:false,
			dataType:"json",
			data:{goods_id:goodsId,ids:ids,time:new Date().getTime()},
			success:function(data){
				if(data.status == 'success'){
					window.location.href= window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	});
})


//删除商品
function delGoods(goodsId,goodsNo){
	if(confirm("你确定要删除此商品吗？")){
		$.ajax({
			type:"POST",
			url:_ctx+"/goods/del",
			dataType:"json",
			data:{goodsId:goodsId,goodsNo:goodsNo},
			cache:false,
			success:function(data){
				if(data.status == 'success'){
					window.location.href=window.location.href;
				}else{
					alert(data.msg);
				}
			}
		});
	}
}

//分配角色
function allotRole(goodsId){
	$(".modal-body .cbp p").remove();
	$.ajax({
		type:"GET",
		url:_ctx+"/goods/getRole",
		dataType:"json",
		data:{goods_id:goodsId,time:new Date().getTime()},
		cache:false,
		success:function(data){
			if(data.status == 'success'){
				var str = "<p><input type='hidden' name='role_goods_id' value='"+goodsId+"' />";
				var arr = data.data;
				for(var i =0;i<arr.length;i++){
					var rolestr = "";
					if(arr[i].checked){
						rolestr="<p><input type='checkbox' name='roleids' id='id"+(i+1)+"' value='"+arr[i].role_id+"' class='chk_1' checked />";
					}else{
						rolestr="<p><input type='checkbox' name='roleids' id='id"+(i+1)+"' value='"+arr[i].role_id+"' class='chk_1'/>";
					}
					rolestr = rolestr +"<label for='id"+(i+1)+"'></label><label data-toggle='tooltip' title='"+arr[i].role_desc+"' data-placement='right' class='font'>"+arr[i].role_name+"</label></p>";
					str = str + rolestr;
				}
				$(".modal-body .cbp").append(str);
				//这是为了让title 属性生效
				$.getScript("/js/tip.js");
				$("#editgoodsRoleModal").modal("show");
			}else{
				alert(data.msg);
			}
		}
	});
}

//编辑商品
function editGoods(goodsId,goodsNo,goodsName,brandNo,categoryId,title,goodsDesc,picPath,status){
    editClick();
    console.log(goodsId+","+goodsNo+","+goodsName+","+brandNo+","+categoryId+","+title+","+goodsDesc+","+picPath+","+status);
	reloadModelData(_ctx+"/goods/edit","编辑商品","更新",goodsId,goodsNo,goodsName,brandNo,categoryId,title,goodsDesc,picPath,status,"edit");
	$("#goodsModal").modal("show");
}

//验证数据
function checkAccount(goodsName,goodsNo,title,goodsDesc,brandNo,categoryId){

    if(goodsNo == ''){
        $("input[name='goods_no']").focus();
        alert("商品编码不能为空");
        return false;
    }else if(goodsName == ''){
		$("input[name='goods_name']").focus();
		alert("商品名不能为空");
		return false;
	}else if(brandNo == ''){
		$("input[name='brand_no']").focus();
		alert("请选择一个品牌");
		return false;
	}else if(categoryId == ''){
        $("input[name='category_no']").focus();
        alert("请选择一个品类");
        return false;
    }
	return true;
}

//加载模态框的数据
function reloadModelData(url,title,btntext,goodsId,goodsNo,goodsName,brandNo,categoryId,title,goodsDesc,oldpath,status,type){
    getDataList(brandNo,categoryId);
    $("#goodsModal #goodsmodelHead").text(title);
	$("#goodsModal #goodsSubmit").text(btntext);
	$("#brand_name").val(brandNo);
	$("#category_name").val(categoryId);
	$("input[name='url']").val(url);
    $("#showImg").attr("src",oldpath);
    $("input[name='oldpath']").val(oldpath);
    $("input[name='goods_id']").val(goodsId);
	$("input[name='goods_no']").val(goodsNo);
	$("input[name='goods_name']").val(goodsName);
	$("input[name='title']").val(title);
	$("input[name='goods_desc']").val(goodsDesc);
    if(status == 1){
        $('input[name="status"]').bootstrapSwitch('state', true);
    }else {
        $('input[name="status"]').bootstrapSwitch('state', false);
    }
	if(type == 'add'){
		$("input[name='goodsname']").attr("disabled",false);
	}else{
		$("input[name='goodsname']").attr("disabled",true);
	}
}
var input = document.getElementById("imgfile");
if (typeof (FileReader) === 'undefined') {
    result.innerHTML = "抱歉，你的浏览器不支持 FileReader，请使用现代浏览器操作！";
    input.setAttribute('disabled', 'disabled');
} else {
    input.addEventListener('change', readFile, false);
}
function readFile() {
	var file = this.files[0];
     //判断是否是图片类型
     if (!/image\/\w+/.test(file.type)) {
         alert("只能选择图片");
         return false;
    }
     var reader = new FileReader();
     reader.readAsDataURL(file);
     reader.onload = function (e) {
     	base64Code=this.result;
     	$("#goodsModal input[name='pics']").val(this.result);
     	$("#showImg").attr("src",this.result);
     }
  }
function getDataList(brandNo,categoryId) {
    $.ajax({
        type:"get",
        url:_ctx+"/brand/getBrandList",
        cache:false,
        dataType:"json",
        data:{},
        success:function(data){
            var dataString = "<option value=''>请选择</option>";
            for(var i=0;i<data.length;i++){
                var brand = data[i];
                if(brand.brand_no == brandNo){
                    dataString+="<option selected='selected' value='"+brand.brand_no+"'>"+brand.brand_name+"</option>";
				}else{
                    dataString+="<option value='"+brand.brand_no+"'>"+brand.brand_name+"</option>";
				}
            }
            $("#brand_name").html(dataString);
        }
    });
    $.ajax({
        type:"get",
        url:_ctx+"/category/getCategoryList",
        cache:false,
        dataType:"json",
        data:{},
        success:function(data){
            var dataString = "<option value=''>请选择</option>";
            for(var i=0;i<data.length;i++){
                var category = data[i];
                if(category.category_id == categoryId){
                    dataString+="<option selected='selected' value='"+category.category_id+"'>"+category.category_name+"</option>";
            	}else {
                    dataString+="<option value='"+category.category_id+"'>"+category.category_name+"</option>";
				}
            }
            $("#category_name").html(dataString);
        }
    });
}
function editClick(){
    $("input[name='goods_no']").attr("disabled","disabled");
}
function addClick(){
    $("input[name='goods_no']").removeAttr("disabled");
}
//显示大图
function showimage(source)
{
    debugger
    if(source == undefined || source == '' || source == null){
        source = $("#showImg")[0].src;
	}
    $("#imgModal").find("#imgInModalID").attr("src",source);
    $("#imgModal").modal();
}
//关闭
function closeImageViewer(){
    $("#imgModal").modal('hide');
}

$('[name="status"]').bootstrapSwitch({
    onText:"启用",
    offText:"停用",
    onColor:"success",//(info/success/warning/danger/primary)
    offColor:"danger",//(info/success/warning/danger/primary)
    size:"small",//(mini/small/normal/large)
    // handleWidth:"35",//设置控件宽度
    onSwitchChange:function(event,state){
        if(state==true){
            $(this).val("1");
            // console.log("启用");
        }else{
            $(this).val("2");
            // console.log("停用");
        }
    }
})

</script>
</body>
</html>